<main>
    <div class="box">
      <div class="inner-box">
        <div class="forms-wrap">
          <form [formGroup]="registerForm" (ngSubmit)="!isSubmitted && submitForm()" autocomplete="off" class="sign-in-form" id="registerForm">
            <div class="logo">
              <img src="../../../assets/xpenze.ico" alt="X" />
              <span>P E N Z E</span>
            </div>

            <div class="heading">
              <h2>Get Started</h2>
              <h6>Already have an account?  &nbsp;</h6>
              <a [routerLink]="['/auth/login']" class="toggle">Sign in</a>
            </div>

            <div class="actual-form">
              <div class="input-wrap" [ngStyle]="registerForm.get('username')?.invalid && (registerForm.get('username')?.dirty || registerForm.get('username')?.touched) ? {'margin-bottom': '3rem'} : {}">
                <input
                  type="text"
                  matInput
                  (keyup)="getData('username')"
                  formControlName="username"
                  name = 'username'
                  [ngClass]="field.username ? 'active':''"
                  class="input-field"
                  [ngStyle]="registerForm.get('username')?.invalid && (registerForm.get('username')?.dirty || registerForm.get('username')?.touched) ? {'border-bottom': '1px solid red'} : {}"
                />
                <label>User Name</label>
                <mat-icon class="error_icon" *ngIf="registerForm.get('username')?.invalid && (registerForm.get('username')?.dirty || registerForm.get('username')?.touched)" style="color: lightcoral;">error</mat-icon>
                <mat-icon class="error_icon" *ngIf="registerForm.get('username')?.valid && (registerForm.get('username')?.dirty || registerForm.get('username')?.touched)" style="color: lightgreen;">check_circle</mat-icon>
                <div style="position: absolute; top: 100%; color: lightcoral;" *ngIf="registerForm.get('username')?.invalid && (registerForm.get('username')?.dirty || registerForm.get('username')?.touched)"
                  class="">
                  <div *ngIf="registerForm.get('username')?.errors?.['required']">
                    User Name is required.
                  </div>
                  <div *ngIf="registerForm.get('username')?.errors?.['forbiddenName']">
                    User Name cannot be Bob.
                  </div>
                </div>
              </div>

              <div class="input-wrap" [ngStyle]="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched) ? {'margin-bottom': '3rem'} : {}">
                <input
                  type="email"
                  matInput
                  (keyup)="getData('email')"
                  formControlName="email"
                  name = 'email'
                  [ngClass]="field.email ? 'active':''"
                  class="input-field"
                  [ngStyle]="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched) ? {'border-bottom': '1px solid red'} : {}"
                />
                <label>Email</label>
                <mat-icon class="error_icon" *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)" style="color: lightcoral;">error</mat-icon>
                <mat-icon class="error_icon" *ngIf="registerForm.get('email')?.valid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)" style="color: lightgreen;">check_circle</mat-icon>
                <div style="position: absolute; top: 100%; color: lightcoral;" *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)"
                  class="">
                  <div *ngIf="registerForm.get('email')?.errors?.['required']">
                    Email is required.
                  </div>
                  <div *ngIf="registerForm.get('email')?.errors?.['email']">
                    Entered valid Email
                  </div>
                  <div *ngIf="registerForm.get('email')?.errors?.['forbiddenName']">
                    Email cannot be Bob.
                  </div>
                </div>
              </div>

              <div class="input-wrap" [ngStyle]="registerForm.get('phoneno')?.invalid && (registerForm.get('phoneno')?.dirty || registerForm.get('phoneno')?.touched) ? {'margin-bottom': '3rem'} : {}">
                <input
                  type="number"
                  matInput
                  (keyup)="getData('phoneno')"
                  formControlName="phoneno"
                  name = 'phoneno'
                  [ngClass]="field.phoneno ? 'active':''"
                  class="input-field"
                  [ngStyle]="registerForm.get('phoneno')?.invalid && (registerForm.get('phoneno')?.dirty || registerForm.get('phoneno')?.touched) ? {'border-bottom': '1px solid red'} : {}"
                />
                <label>Mobile Number</label>
                <mat-icon class="error_icon" *ngIf="registerForm.get('phoneno')?.invalid && (registerForm.get('phoneno')?.dirty || registerForm.get('phoneno')?.touched)" style="color: lightcoral;">error</mat-icon>
                <mat-icon class="error_icon" *ngIf="registerForm.get('phoneno')?.valid && (registerForm.get('phoneno')?.dirty || registerForm.get('phoneno')?.touched)" style="color: lightgreen;">check_circle</mat-icon>
                <div style="position: absolute; top: 100%; color: lightcoral;" *ngIf="registerForm.get('phoneno')?.invalid && (registerForm.get('phoneno')?.dirty || registerForm.get('phoneno')?.touched)"
                  class="">
                  <div *ngIf="registerForm.get('phoneno')?.errors?.['required']">
                    Mobile Number is required.
                  </div>
                  <div *ngIf="registerForm.get('phoneno')?.errors?.['minlength']">
                    Mobile Number must be at least 10 characters long.
                  </div>
                  <div *ngIf="registerForm.get('phoneno')?.errors?.['forbiddenName']">
                    Mobile Number cannot be Bob.
                  </div>
                </div>
              </div>

              <div class="input-wrap" [ngStyle]="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched) ? {'margin-bottom': '3rem'} : {}">
                <input
                  matInput
                  type="password"
                  name = "password"
                  (keyup)="getData('password')"
                  formControlName="password"
                  [ngClass]="field.password ? 'active':''"
                  [ngStyle]="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched) ? {'border-bottom': '1px solid red'} : {}"
                  class="input-field"
                />
                <label>Password</label>
                <mat-icon class="error_icon" *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)" style="color: lightcoral;">error</mat-icon>
                <mat-icon class="error_icon" *ngIf="registerForm.get('password')?.valid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)" style="color: lightgreen;">check_circle</mat-icon>
                <div style="position: absolute; top: 100%; color: lightcoral;" *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)"
                  class="">
                  <div *ngIf="registerForm.get('password')?.errors?.['required']">
                    Password is required.
                  </div>
                  <div *ngIf="registerForm.get('password')?.errors?.['minlength']">
                    Password must be at least 6 characters long.
                  </div>
                  <div *ngIf="registerForm.get('password')?.errors?.['forbiddenName']">
                    Password cannot be Bob.
                  </div>
                </div>
              </div>

              <!-- <input type="submit" value="Sign Up" class="sign-btn" /> -->
              <button *ngIf="!isSubmitted" type="submit" form="registerForm" value="Submit" class="sign-btn">Sign Up &nbsp;<mat-icon class="btn-icon">login</mat-icon></button>
              <button *ngIf="isSubmitted" type="submit" form="registerForm" value="Submit" class="sign-btn" fxLayoutAlign="center center"><span style="position: relative;top: 25%;">Please Wait..&nbsp;&nbsp;</span><mat-spinner style="width: 25px; height: 25px; color: wheat;" mode="indeterminate" color="warn" class="btn-icon"></mat-spinner></button>

              <p class="text">
                By signing up, I agree to the
                <a href="#">Terms of Services</a> and
                <a href="#">Privacy Policy</a>
              </p>
            </div>
          </form>
        </div>

        <div class="carousel">
          <div class="images-wrapper">
            <img src="../../../assets/images/register_image.png" class="image img-1 show" alt="" />
          </div>

          <div class="text-slider">
            <div class="text-wrap">
              <div class="text-group">
                <h2>Create your own courses</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</main>
