@import url(../../../themes.scss);
mat-sidenav {
    background: var(--color-grey-100);
    width: 230px;
    height: 100%;
    border: none;
}

mat-sidenav-content {
    height: 100vh;
    background: none;
    .main {
        margin: 0 20px;
    }
}

mat-toolbar {
    justify-content: space-between;
    mat-icon {
        margin-left: 15px;
        color: var(--color-dgrey-50);
    }
    .box{
        margin-top: 15px;
    }
}