<main>
    <h1>DashBoard</h1>
    <div class="date">
        <input type="date">
    </div>
    <div class="main-container">
        <div class="insights">
            <div class="sales">
                <mat-icon>analytics</mat-icon>
                <div class="middle-box">
                    <div class="left-box">
                        <h3>Total Sales</h3>
                        <h1>$25,565</h1>
                    </div>
                    <div class="progress-box">
                        <svg>
                            <circle cx="38" cy="38" r="36"></circle>
                        </svg>
                        <div class="number">
                            <p>25%</p>
                        </div>
                    </div>
                </div>
                <small class="text-muted">Last 24 Hours</small>
            </div>
            <div class="expenses">
                <mat-icon>bar_chart</mat-icon>
                <div class="middle-box">
                    <div class="left-box">
                        <h3>Total Sales</h3>
                        <h1>$25,565</h1>
                    </div>
                    <div class="progress-box">
                        <svg>
                            <circle cx="38" cy="38" r="36"></circle>
                        </svg>
                        <div class="number">
                            <p>25%</p>
                        </div>
                    </div>
                </div>
                <small class="text-muted">Last 24 Hours</small>
            </div>
            <div class="income">
                <mat-icon>ssid_chart</mat-icon>
                <div class="middle-box">
                    <div class="left-box">
                        <h3>Total Sales</h3>
                        <h1>$25,565</h1>
                    </div>
                    <div class="progress-box">
                        <svg>
                            <circle cx="38" cy="38" r="36"></circle>
                        </svg>
                        <div class="number">
                            <p>25%</p>
                        </div>
                    </div>
                </div>
                <small class="text-muted">Last 24 Hours</small>
            </div>
        </div>
        <div style="background: red; min-width: 100px; min-height: 100px;"></div>
    </div>
    
</main>