<main>
    <h1>DashBoard</h1>
    <div class="date">
        <input type="date">
    </div>
    <div class="main-container">
        <div class="insights">
            <div>
                <app-insight-box title="Price" classList="sales" icon="analytics" percent="55" price="34,353" color="theme"></app-insight-box>
            </div>
            <div>
                <app-insight-box title="Expense" classList="expenses" icon="bar_chart" percent="20" price="674,353" color="red"></app-insight-box>
            </div>
            <div>
                <app-insight-box title="Income" classList="income" icon="ssid_chart" percent="87" price="4,353" color="green"></app-insight-box>
            </div>
        </div>
        <div style="background: red; min-width: 100px; min-height: 100px;"></div>
    </div>
    
</main>